{% extends "layout.twig" %}

{% block main %}
    <div class="map-container">
        <div class="location">
            <p>Zpravodajské informace jsou aktuální k času {{ 'now' | date('H:i') }}</p>
            <p>Právě se nacházíš na souřadnicích: <strong>{{ x }},{{ y }}</strong></p>
            <p>Na tomto poli se nachází tito hráči:</p>
            <ul>
                {% for player in players %}
                    {% if player.x == x and player.y == y %}
                        <li>{{ player.username|e }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if loners is not empty %}
                <p>Na tomto poli se nachází odpadlíci:</p>
                <ul>
                    {% for loner in loners %}
                        <li>{{ loner.name }} <a href="/game/recruit/{{ loner.id }}">Naverbovat</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if busy %}
                <p class="red">Tvá jednotka právě plní rozkaz, bude zaneprázdněná až do {{ busy }}</p>
                {% if current and current.type == 1 %}
                    <p class="red">Právě probíhá přesun na souřadnice {{ current.data.x }},{{ current.data.y }}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="map">
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x, y: y - 2}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 1, y: (x is even) ? y - 2 : y - 1}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 1, y: (x is even) ? y - 2 : y - 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 2, y: y - 1}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x, y: y - 1}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 2, y: y - 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'move', x: x - 1, y: (x is even) ? y - 1 : y}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x + 1, y: (x is even) ? y - 1 : y}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 2, y: y}) }}
                {{ include('parts/hexagon.twig', {type: 'current', x: x, y: y}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 2, y: y}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'move', x: x - 1, y: (x is even) ? y : y + 1}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x + 1, y: (x is even) ? y : y + 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 2, y: y + 1}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x, y: y + 1}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 2, y: y + 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 1, y: (x is even) ? y + 1 : y + 2}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 1, y: (x is even) ? y + 1 : y + 2}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x, y: y + 2}) }}
            </div>
        </div>
    </div>
{% endblock %}