{% extends "layout.twig" %}

{% block head %}
    <meta http-equiv="refresh" content="125">
{% endblock %}

{% block header %}
    <h1>MAPA</h1>
{% endblock %}

{% block main %}
    <div class="map-container">
        <div class="location">
            <p>Zpravodajské informace jsou aktuální k času {{ 'now' | date('H:i') }}</p>
            <p>Právě se nacházíš na souřadnicích: <strong>{{ x }},{{ y }}</strong></p>

            {% for battle in battles %}
                {% if battle.x == x and battle.y == y %}
                    <p class="red">Právě zde probíhá bitva!</p>
                {% endif %}
            {% endfor %}

            <p>Na tomto poli se nachází tito hráči:</p>
            <ul>
                {% for player in players %}
                    {% if player.x == x and player.y == y %}
                        {% if player.faction is not null %}
                            <li style="color:#{{ player.faction.color }}">{{ player.username|e }} ({{ player.size }})</li>
                        {% else %}
                            <li>{{ player.username|e }} ({{ player.size }})</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>

            {% if loners is not empty %}
                <p>Na tomto poli se nachází odpadlíci:</p>
                <ul>
                    {% for loner in loners %}
                        <li>{{ loner.name }} <a href="/game/recruit/{{ loner.id }}">Naverbovat</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ include('parts/busy.twig') }}
            {{ include('parts/town.twig') }}
            {{ include('parts/location_items.twig') }}
        </div>
        <div class="map">
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x, y: y - 2}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 1, y: (x is even) ? y - 2 : y - 1}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 1, y: (x is even) ? y - 2 : y - 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 2, y: y - 1}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x, y: y - 1}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 2, y: y - 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'move', x: x - 1, y: (x is even) ? y - 1 : y}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x + 1, y: (x is even) ? y - 1 : y}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 2, y: y}) }}
                {{ include('parts/hexagon.twig', {type: 'current', x: x, y: y}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 2, y: y}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'move', x: x - 1, y: (x is even) ? y : y + 1}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x + 1, y: (x is even) ? y : y + 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 2, y: y + 1}) }}
                {{ include('parts/hexagon.twig', {type: 'move', x: x, y: y + 1}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 2, y: y + 1}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x - 1, y: (x is even) ? y + 1 : y + 2}) }}
                {{ include('parts/hexagon.twig', {type: 'far', x: x + 1, y: (x is even) ? y + 1 : y + 2}) }}
            </div>
            <div class="map-row">
                {{ include('parts/hexagon.twig', {type: 'far', x: x, y: y + 2}) }}
            </div>
        </div>
    </div>
{% endblock %}