{% extends "layout.twig" %}

{% block header %}
    <h1>JEDNOTKA</h1>
{% endblock %}

{% block main %}
    <p>Počet členů: {{ soldiers|length }}</p>

    {{ include('parts/busy.twig') }}
    {% if battle %}
        <p class="red">Právě probíhá bitva!</p>
    {% elseif busy is null %}
        <p>Akce: <a href="/game/squad/rest">Zahájit odpočinek (5m)</a></p>
    {% endif %}

    <div class="row mt-2">
        <div class="col">
            {% if soldiers|length > 0 %}
                <table>
                    {% for soldier in soldiers %}
                        {% set role = soldier.role.name %}
                        {% if role == "CITIZEN" %}
                            {% set role = '<span class="small-icon yellow" title="Civilista"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M15 2H9v2H7v6h2V4h6V2zm0 8H9v2h6v-2zm0-6h2v6h-2V4zM4 16h2v-2h12v2H6v4h12v-4h2v6H4v-6z" fill="currentColor"/> </svg></span>' %}
                        {% elseif role == "RIFLEMAN" %}
                            {% set role = '<span class="small-icon yellow" title="Střelec"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M15 0h1v1h-1zM16 0h1v1h-1zM14 1h1v1h-1zM15 1h1v1h-1zM16 1h1v1h-1zM13 2h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM11 3h1v1h-1zM12 3h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM10 4h1v1h-1zM11 4h1v1h-1zM12 4h1v1h-1zM13 4h1v1h-1zM9 5h1v1H9zM10 5h1v1h-1zM11 5h1v1h-1zM12 5h1v1h-1zM8 6h1v1H8zM9 6h1v1H9zM10 6h1v1h-1zM11 6h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM7 7h1v1H7zM8 7h1v1H8zM9 7h1v1H9zM10 7h1v1h-1zM11 7h1v1h-1zM12 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM6 8h1v1H6zM7 8h1v1H7zM8 8h1v1H8zM9 8h1v1H9zM10 8h1v1h-1zM12 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM16 8h1v1h-1zM17 8h1v1h-1zM5 9h1v1H5zM6 9h1v1H6zM7 9h1v1H7zM8 9h1v1H8zM9 9h1v1H9zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM16 9h1v1h-1zM17 9h1v1h-1zM4 10h1v1H4zM5 10h1v1H5zM6 10h1v1H6zM7 10h1v1H7zM8 10h1v1H8zM10 10h1v1h-1zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM10 11h1v1h-1zM2 12h1v1H2zM3 12h1v1H3zM4 12h1v1H4zM5 12h1v1H5zM6 12h1v1H6zM7 12h1v1H7zM8 12h1v1H8zM9 12h1v1H9zM1 13h1v1H1zM2 13h1v1H2zM3 13h1v1H3zM4 13h1v1H4zM5 13h1v1H5zM7 13h1v1H7zM8 13h1v1H8zM1 14h1v1H1zM2 14h1v1H2zM3 14h1v1H3zM4 14h1v1H4zM7 14h1v1H7zM8 14h1v1H8zM9 14h1v1H9zM2 15h1v1H2zM3 15h1v1H3zM4 15h1v1H4zM8 15h1v1H8zM9 15h1v1H9zM3 16h1v1H3zM4 16h1v1H4zM4 17h1v1H4z" fill="currentColor"/> </svg></span>' %}
                        {% elseif role == "MACHINE_GUNNER" %}
                            {% set role = '<span class="small-icon yellow" title="Kulometčík"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M13 7H3v2h10V7zm8 4h-2V9h-2V7h-2v2h2v2H3v2h14v2h-2v2h2v-2h2v-2h2v-2zM3 15h10v2H3v-2z" fill="currentColor"/> </svg></span>' %}
                        {% elseif role == "MEDIC" %}
                            {% set role = '<span class="small-icon yellow" title="Zdravotník"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M11 4h2v7h7v2h-7v7h-2v-7H4v-2h7V4z" fill="currentColor"/> </svg></span>' %}
                        {% elseif role == "SCOUT" %}
                            {% set role = '<span class="small-icon yellow" title="Průzkumník"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M8 6h8v2H8V6zm-4 4V8h4v2H4zm-2 2v-2h2v2H2zm0 2v-2H0v2h2zm2 2H2v-2h2v2zm4 2H4v-2h4v2zm8 0v2H8v-2h8zm4-2v2h-4v-2h4zm2-2v2h-2v-2h2zm0-2h2v2h-2v-2zm-2-2h2v2h-2v-2zm0 0V8h-4v2h4zm-10 1h4v4h-4v-4z" fill="currentColor"/> </svg></span>' %}
                        {% endif %}
                        <tr>
                            <td>{{ soldier.name }}</td>
                            <td>{{ role|raw }}</td>
                            <td class="text-right">{{ soldier.health }}%</td>
                            <td>
                                <a class="small-icon" href="/game/squad/kick/{{ soldier.id }}" title="Vyhodit z jednotky">
                                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 5h2v2H5V5zm4 4H7V7h2v2zm2 2H9V9h2v2zm2 0h-2v2H9v2H7v2H5v2h2v-2h2v-2h2v-2h2v2h2v2h2v2h2v-2h-2v-2h-2v-2h-2v-2zm2-2v2h-2V9h2zm2-2v2h-2V7h2zm0 0V5h2v2h-2z" fill="currentColor"/> </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="col">
            {% if inventory|length > 0 %}
                <table>
                    {% for item in inventory %}
                        <tr>
                            <td>{{ item.quantity }}x {{ items[item.itemId].name }}</td>
                            <td>
                                <a class="small-icon" href="/game/squad/drop/{{ item.id }}/1" title="Odložit předmět">
                                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 5h2v2H5V5zm4 4H7V7h2v2zm2 2H9V9h2v2zm2 0h-2v2H9v2H7v2H5v2h2v-2h2v-2h2v-2h2v2h2v2h2v2h2v-2h-2v-2h-2v-2h-2v-2zm2-2v2h-2V9h2zm2-2v2h-2V7h2zm0 0V5h2v2h-2z" fill="currentColor"/> </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}