{% set g = (( (18529 * x + 5132 * y)|abs ) % 67) %}
{% set style = 'background-color:rgb(' ~ (60 + g) ~ ', 122, 106);color:rgb(' ~ (60 + g) ~ ', 122, 106);' %}
{% set icon = '' %}
{% set size = 0 %}
{% for player in players %}
    {% if player.x == x and player.y == y %}
        {% set size = size + player.size %}
        {% if icon == '' %}
            {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M10 2h4v4h-4V2zM7 7h10v2h-2v13h-2v-6h-2v6H9V9H7V7zm-2 4h2V9H5v2zm0 0v2H3v-2h2zm14 0h-2V9h2v2zm0 0h2v2h-2v-2z" fill="currentColor"/> </svg>' %}
        {% else %}
            {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M13 2h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM15 3h1v1h-1zM13 4h1v1h-1zM14 4h1v1h-1zM15 4h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM14 6h1v1h-1zM15 6h1v1h-1zM16 6h1v1h-1zM4 7h1v1H4zM5 7h1v1H5zM6 7h1v1H6zM11 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM15 7h1v1h-1zM17 7h1v1h-1zM4 8h1v1H4zM5 8h1v1H5zM6 8h1v1H6zM10 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM18 8h1v1h-1zM4 9h1v1H4zM5 9h1v1H5zM6 9h1v1H6zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM13 10h1v1h-1zM15 10h1v1h-1zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM13 11h1v1h-1zM15 11h1v1h-1zM2 12h1v1H2zM4 12h1v1H4zM5 12h1v1H5zM6 12h1v1H6zM8 12h1v1H8zM13 12h1v1h-1zM15 12h1v1h-1zM1 13h1v1H1zM4 13h1v1H4zM5 13h1v1H5zM6 13h1v1H6zM9 13h1v1H9zM4 14h1v1H4zM5 14h1v1H5zM6 14h1v1H6zM4 15h1v1H4zM6 15h1v1H6zM4 16h1v1H4zM6 16h1v1H6zM4 17h1v1H4zM6 17h1v1H6z" fill="currentColor"/> </svg>' %}
        {% endif %}
        {% set icon = icon ~ '<span class="squad-size">' ~ size ~ '</span>' %}
    {% endif %}
{% endfor %}
{% for battle in battles %}
    {% if battle.x == x and battle.y == y %}
        {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M17 0h1v1h-1zM18 0h1v1h-1zM16 1h1v1h-1zM17 1h1v1h-1zM18 1h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM16 2h1v1h-1zM17 2h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM15 3h1v1h-1zM16 3h1v1h-1zM11 4h1v1h-1zM12 4h1v1h-1zM13 4h1v1h-1zM14 4h1v1h-1zM15 4h1v1h-1zM10 5h1v1h-1zM11 5h1v1h-1zM12 5h1v1h-1zM13 5h1v1h-1zM14 5h1v1h-1zM15 5h1v1h-1zM9 6h1v1H9zM10 6h1v1h-1zM11 6h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM7 7h1v1H7zM8 7h1v1H8zM9 7h1v1H9zM10 7h1v1h-1zM11 7h1v1h-1zM12 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM18 7h1v1h-1zM6 8h1v1H6zM7 8h1v1H7zM8 8h1v1H8zM9 8h1v1H9zM10 8h1v1h-1zM12 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM16 8h1v1h-1zM17 8h1v1h-1zM18 8h1v1h-1zM4 9h1v1H4zM5 9h1v1H5zM6 9h1v1H6zM7 9h1v1H7zM8 9h1v1H8zM9 9h1v1H9zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM16 9h1v1h-1zM17 9h1v1h-1zM3 10h1v1H3zM4 10h1v1H4zM5 10h1v1H5zM6 10h1v1H6zM7 10h1v1H7zM8 10h1v1H8zM10 10h1v1h-1zM2 11h1v1H2zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM10 11h1v1h-1zM1 12h1v1H1zM2 12h1v1H2zM3 12h1v1H3zM4 12h1v1H4zM6 12h1v1H6zM7 12h1v1H7zM8 12h1v1H8zM9 12h1v1H9zM1 13h1v1H1zM2 13h1v1H2zM3 13h1v1H3zM4 13h1v1H4zM7 13h1v1H7zM8 13h1v1H8zM1 14h1v1H1zM2 14h1v1H2zM3 14h1v1H3zM4 14h1v1H4zM7 14h1v1H7zM8 14h1v1H8zM9 14h1v1H9zM2 15h1v1H2zM3 15h1v1H3zM8 15h1v1H8zM9 15h1v1H9zM3 16h1v1H3z" fill="currentColor"/> </svg>' %}
        {# set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M15 0h1v1h-1zM16 0h1v1h-1zM14 1h1v1h-1zM15 1h1v1h-1zM16 1h1v1h-1zM13 2h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM11 3h1v1h-1zM12 3h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM10 4h1v1h-1zM11 4h1v1h-1zM12 4h1v1h-1zM13 4h1v1h-1zM9 5h1v1H9zM10 5h1v1h-1zM11 5h1v1h-1zM12 5h1v1h-1zM8 6h1v1H8zM9 6h1v1H9zM10 6h1v1h-1zM11 6h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM7 7h1v1H7zM8 7h1v1H8zM9 7h1v1H9zM10 7h1v1h-1zM11 7h1v1h-1zM12 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM6 8h1v1H6zM7 8h1v1H7zM8 8h1v1H8zM9 8h1v1H9zM10 8h1v1h-1zM12 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM16 8h1v1h-1zM17 8h1v1h-1zM5 9h1v1H5zM6 9h1v1H6zM7 9h1v1H7zM8 9h1v1H8zM9 9h1v1H9zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM16 9h1v1h-1zM17 9h1v1h-1zM4 10h1v1H4zM5 10h1v1H5zM6 10h1v1H6zM7 10h1v1H7zM8 10h1v1H8zM10 10h1v1h-1zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM10 11h1v1h-1zM2 12h1v1H2zM3 12h1v1H3zM4 12h1v1H4zM5 12h1v1H5zM6 12h1v1H6zM7 12h1v1H7zM8 12h1v1H8zM9 12h1v1H9zM1 13h1v1H1zM2 13h1v1H2zM3 13h1v1H3zM4 13h1v1H4zM5 13h1v1H5zM7 13h1v1H7zM8 13h1v1H8zM1 14h1v1H1zM2 14h1v1H2zM3 14h1v1H3zM4 14h1v1H4zM7 14h1v1H7zM8 14h1v1H8zM9 14h1v1H9zM2 15h1v1H2zM3 15h1v1H3zM4 15h1v1H4zM8 15h1v1H8zM9 15h1v1H9zM3 16h1v1H3zM4 16h1v1H4zM4 17h1v1H4z" fill="currentColor"/> </svg>' #}
        {% set icon = icon ~ '<span class="squad-size">' ~ size ~ '</span>' %}
    {% endif %}
{% endfor %}
{% if type == 'current' %}
    <div class="hexagon current" style="{{ style }}">{{ icon|raw }}</div>
{% elseif type == 'far' %}
    <div class="hexagon far" style="{{ style }}">{{ icon|raw }}</div>
{% else %}
    <a class="hexagon move" style="{{ style }}" href="/game/map/move/{{ x }}/{{ y }}">{{ icon|raw }}</a>
{% endif %}