{% set g1 = (( (18529 * x + 5132 * y)|abs ) % 67) %}
{% set g2 = (x|abs % 8) + (y|abs % 8) %}
{% set canMove = true %}
{% set style = 'background-color:rgb(' ~ (60 + g1) ~ ', 122, 106);color:rgb(' ~ (60 + g1) ~ ', 122, 106);' %}
{% if g2 < 5 %}
    {% set style = 'background-color:rgb(' ~ (40 + g1) ~ ', 122, 106);color:rgb(' ~ (40 + g1) ~ ', 122, 106);' %}
{% elseif g2 < 10 %}
    {% set style = 'background-color:rgb(' ~ (80 - g1) ~ ', 122, 106);color:rgb(' ~ (80 - g1) ~ ', 122, 106);' %}
{% endif %}

{% set icon = '' %}
{% set size = 0 %}
{% set movement = '' %}
{% set battle = false %}
{% set lastFaction = 0 %}

{% for field in fields %}
    {% if field.x == x and field.y == y %}
        {% if field.type == 1 %}{# WATER #}
            {% set canMove = false %}
            {% set style = 'background-color:rgb(123,170,204);color:rgb(123,170,204);' %}
        {% elseif field.type == 3 %}{# MOUNTAIN #}
            {% set canMove = false %}
            {% set style = 'background-color:rgb(102,106,110);color:rgb(102,106,110);' %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if not canMove %}
    {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 5h2v2H5V5zm4 4H7V7h2v2zm2 2H9V9h2v2zm2 0h-2v2H9v2H7v2H5v2h2v-2h2v-2h2v-2h2v2h2v2h2v2h2v-2h-2v-2h-2v-2h-2v-2zm2-2v2h-2V9h2zm2-2v2h-2V7h2zm0 0V5h2v2h-2z" fill="currentColor"/> </svg>' %}
{% endif %}

{% for player in players %}
    {% if player.x == x and player.y == y %}
        {% set size = size + player.size %}
        {% if icon == '' %}
            {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M10 2h4v4h-4V2zM7 7h10v2h-2v13h-2v-6h-2v6H9V9H7V7zm-2 4h2V9H5v2zm0 0v2H3v-2h2zm14 0h-2V9h2v2zm0 0h2v2h-2v-2z" fill="currentColor"/> </svg>' %}
            {% if player.faction is not null %}
                {% set icon = '<div class="player-icon" style="color:#' ~ player.faction.color ~ ';">' ~ icon ~ '</div>' %}
                {% set lastFaction = player.faction.id %}
            {% endif %}
        {% else %}
            {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M13 2h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM15 3h1v1h-1zM13 4h1v1h-1zM14 4h1v1h-1zM15 4h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM14 6h1v1h-1zM15 6h1v1h-1zM16 6h1v1h-1zM4 7h1v1H4zM5 7h1v1H5zM6 7h1v1H6zM11 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM15 7h1v1h-1zM17 7h1v1h-1zM4 8h1v1H4zM5 8h1v1H5zM6 8h1v1H6zM10 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM18 8h1v1h-1zM4 9h1v1H4zM5 9h1v1H5zM6 9h1v1H6zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM13 10h1v1h-1zM15 10h1v1h-1zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM13 11h1v1h-1zM15 11h1v1h-1zM2 12h1v1H2zM4 12h1v1H4zM5 12h1v1H5zM6 12h1v1H6zM8 12h1v1H8zM13 12h1v1h-1zM15 12h1v1h-1zM1 13h1v1H1zM4 13h1v1H4zM5 13h1v1H5zM6 13h1v1H6zM9 13h1v1H9zM4 14h1v1H4zM5 14h1v1H5zM6 14h1v1H6zM4 15h1v1H4zM6 15h1v1H6zM4 16h1v1H4zM6 16h1v1H6zM4 17h1v1H4zM6 17h1v1H6z" fill="currentColor"/> </svg>' %}
            {% if player.faction is not null and player.faction.id == lastFaction %}
                {% set icon = '<div class="player-icon" style="color:#' ~ player.faction.color ~ ';">' ~ icon ~ '</div>' %}
                {% set lastFaction = player.faction.id %}
            {% else %}
                {% set lastFaction = 0 %}
            {% endif %}
        {% endif %}
        {% set icon = icon ~ '<span class="squad-size">' ~ size ~ '</span>' %}

        {% if player.movement != "none" %}
            {% set movement = movement ~ '<div class="movement ' ~ player.movement ~ '"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M11 20h2V8h2V6h-2V4h-2v2H9v2h2v12zM7 10V8h2v2H7zm0 0v2H5v-2h2zm10 0V8h-2v2h2zm0 0v2h2v-2h-2z" fill="currentColor"/> </svg></div>' %}
        {% endif %}
        {#
        {% if player.movement == "up" %}
            {% set movement = movement ~ '<div class="movement up"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M11 20h2V8h2V6h-2V4h-2v2H9v2h2v12zM7 10V8h2v2H7zm0 0v2H5v-2h2zm10 0V8h-2v2h2zm0 0v2h2v-2h-2z" fill="currentColor"/> </svg></div>' %}
        {% elseif player.movement == "leftup" %}
            {% set movement = movement ~ '<div class="movement leftup"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M18 8H8V6H6v2H4v2h2v2h2v-2h10v10h2V8h-2zM8 12v2h2v-2H8zm0-6V4h2v2H8z" fill="currentColor"/> </svg></div>' %}
        {% elseif player.movement == "rightup" %}
            {% set movement = movement ~ '<div class="movement rightup"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M6 8h10V6h2v2h2v2h-2v2h-2v-2H6v10H4V8h2zm10 4v2h-2v-2h2zm0-6V4h-2v2h2z" fill="currentColor"/> </svg></div>' %}
        {% elseif player.movement == "leftdown" %}
            {% set movement = movement ~ '<div class="movement leftdown"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M18 16H8v2H6v-2H4v-2h2v-2h2v2h10V4h2v12h-2zM8 12v-2h2v2H8zm0 6v2h2v-2H8z" fill="currentColor"/> </svg></div>' %}
        {% elseif player.movement == "rightdown" %}
            {% set movement = movement ~ '<div class="movement rightdown"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M6 16h10v2h2v-2h2v-2h-2v-2h-2v2H6V4H4v12h2zm10-4v-2h-2v2h2zm0 6v2h-2v-2h2z" fill="currentColor"/> </svg></div>' %}
        {% elseif player.movement == "down" %}
            {% set movement = movement ~ '<div class="movement down"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M11 4h2v12h2v2h-2v2h-2v-2H9v-2h2V4zM7 14v2h2v-2H7zm0 0v-2H5v2h2zm10 0v2h-2v-2h2zm0 0v-2h2v2h-2z" fill="currentColor"/> </svg></div>' %}
        {% endif %}
        #}
    {% endif %}
{% endfor %}

{% for battle in battles %}
    {% if battle.x == x and battle.y == y %}
        {# set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M17 0h1v1h-1zM18 0h1v1h-1zM16 1h1v1h-1zM17 1h1v1h-1zM18 1h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM16 2h1v1h-1zM17 2h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM15 3h1v1h-1zM16 3h1v1h-1zM11 4h1v1h-1zM12 4h1v1h-1zM13 4h1v1h-1zM14 4h1v1h-1zM15 4h1v1h-1zM10 5h1v1h-1zM11 5h1v1h-1zM12 5h1v1h-1zM13 5h1v1h-1zM14 5h1v1h-1zM15 5h1v1h-1zM9 6h1v1H9zM10 6h1v1h-1zM11 6h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM7 7h1v1H7zM8 7h1v1H8zM9 7h1v1H9zM10 7h1v1h-1zM11 7h1v1h-1zM12 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM18 7h1v1h-1zM6 8h1v1H6zM7 8h1v1H7zM8 8h1v1H8zM9 8h1v1H9zM10 8h1v1h-1zM12 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM16 8h1v1h-1zM17 8h1v1h-1zM18 8h1v1h-1zM4 9h1v1H4zM5 9h1v1H5zM6 9h1v1H6zM7 9h1v1H7zM8 9h1v1H8zM9 9h1v1H9zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM16 9h1v1h-1zM17 9h1v1h-1zM3 10h1v1H3zM4 10h1v1H4zM5 10h1v1H5zM6 10h1v1H6zM7 10h1v1H7zM8 10h1v1H8zM10 10h1v1h-1zM2 11h1v1H2zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM10 11h1v1h-1zM1 12h1v1H1zM2 12h1v1H2zM3 12h1v1H3zM4 12h1v1H4zM6 12h1v1H6zM7 12h1v1H7zM8 12h1v1H8zM9 12h1v1H9zM1 13h1v1H1zM2 13h1v1H2zM3 13h1v1H3zM4 13h1v1H4zM7 13h1v1H7zM8 13h1v1H8zM1 14h1v1H1zM2 14h1v1H2zM3 14h1v1H3zM4 14h1v1H4zM7 14h1v1H7zM8 14h1v1H8zM9 14h1v1H9zM2 15h1v1H2zM3 15h1v1H3zM8 15h1v1H8zM9 15h1v1H9zM3 16h1v1H3z" fill="currentColor"/> </svg>' #}
        {# set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> <path d="M15 0h1v1h-1zM16 0h1v1h-1zM14 1h1v1h-1zM15 1h1v1h-1zM16 1h1v1h-1zM13 2h1v1h-1zM14 2h1v1h-1zM15 2h1v1h-1zM11 3h1v1h-1zM12 3h1v1h-1zM13 3h1v1h-1zM14 3h1v1h-1zM10 4h1v1h-1zM11 4h1v1h-1zM12 4h1v1h-1zM13 4h1v1h-1zM9 5h1v1H9zM10 5h1v1h-1zM11 5h1v1h-1zM12 5h1v1h-1zM8 6h1v1H8zM9 6h1v1H9zM10 6h1v1h-1zM11 6h1v1h-1zM12 6h1v1h-1zM13 6h1v1h-1zM7 7h1v1H7zM8 7h1v1H8zM9 7h1v1H9zM10 7h1v1h-1zM11 7h1v1h-1zM12 7h1v1h-1zM13 7h1v1h-1zM14 7h1v1h-1zM6 8h1v1H6zM7 8h1v1H7zM8 8h1v1H8zM9 8h1v1H9zM10 8h1v1h-1zM12 8h1v1h-1zM13 8h1v1h-1zM14 8h1v1h-1zM15 8h1v1h-1zM16 8h1v1h-1zM17 8h1v1h-1zM5 9h1v1H5zM6 9h1v1H6zM7 9h1v1H7zM8 9h1v1H8zM9 9h1v1H9zM13 9h1v1h-1zM14 9h1v1h-1zM15 9h1v1h-1zM16 9h1v1h-1zM17 9h1v1h-1zM4 10h1v1H4zM5 10h1v1H5zM6 10h1v1H6zM7 10h1v1H7zM8 10h1v1H8zM10 10h1v1h-1zM3 11h1v1H3zM4 11h1v1H4zM5 11h1v1H5zM6 11h1v1H6zM7 11h1v1H7zM10 11h1v1h-1zM2 12h1v1H2zM3 12h1v1H3zM4 12h1v1H4zM5 12h1v1H5zM6 12h1v1H6zM7 12h1v1H7zM8 12h1v1H8zM9 12h1v1H9zM1 13h1v1H1zM2 13h1v1H2zM3 13h1v1H3zM4 13h1v1H4zM5 13h1v1H5zM7 13h1v1H7zM8 13h1v1H8zM1 14h1v1H1zM2 14h1v1H2zM3 14h1v1H3zM4 14h1v1H4zM7 14h1v1H7zM8 14h1v1H8zM9 14h1v1H9zM2 15h1v1H2zM3 15h1v1H3zM4 15h1v1H4zM8 15h1v1H8zM9 15h1v1H9zM3 16h1v1H3zM4 16h1v1H4zM4 17h1v1H4z" fill="currentColor"/> </svg>' #}
        {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M13 2h-2v6h2V2zm0 14h-2v6h2v-6zm9-5v2h-6v-2h6zM8 13v-2H2v2h6zm7-6h2v2h-2V7zm4-2h-2v2h2V5zM9 7H7v2h2V7zM5 5h2v2H5V5zm10 12h2v2h2v-2h-2v-2h-2v2zm-8 0v-2h2v2H7v2H5v-2h2z" fill="currentColor"/> </svg>' %}
        {% set icon = icon ~ '<span class="squad-size red">' ~ size ~ '</span>' %}
    {% endif %}
{% endfor %}

{% for town in towns %}
    {% if town.x == x and town.y == y %}
        {% set icon = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M10 2h4v5h2v2h-2v11h4v-9h2v9h2v2H2v-2h2V8h2v12h6V4h-2V2zM8 6V4h2v2H8zm0 0H6v2h2V6zm10 5h-2V9h2v2zm-8-1H8v2h2v-2zm-2 4h2v2H8v-2z" fill="currentColor"/> </svg>' %}

        {% if battle %}
            {% set icon = icon ~ '<span class="squad-size red">' ~ size ~ '</span>' %}
        {% else %}
            {% set icon = icon ~ '<span class="squad-size">' ~ size ~ '</span>' %}
        {% endif %}

        {% if town.owner is not null %}
            {% set style = 'background-color:#' ~ town.owner.color ~ ';color:#' ~ town.owner.color ~ ';' %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set icon = icon ~ movement %}

{% if type == 'current' %}
    <div class="hexagon current" style="{{ style }}">{{ icon|raw }}</div>
{% elseif type == 'far' %}
    <div class="hexagon far" style="{{ style }}">{{ icon|raw }}</div>
{% elseif type == 'move' and canMove %}
    <a class="hexagon move" style="{{ style }}" href="/game/map/move/{{ x }}/{{ y }}">{{ icon|raw }}</a>
{% elseif type == 'world' %}
    <div class="hexagon" style="{{ style }}" data-x="{{ x }}" data-y="{{ y }}">{{ icon|raw }}</div>
{% else %}
    <div class="hexagon" style="{{ style }}">{{ icon|raw }}</div>
{% endif %}